
.new-messages {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 6.4rem;
  position: relative;
  background-color: white;
  
}


#topNav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Dashboard sign */
.new-messages .dashboard {
  background-color: transparent;
  font-size: 32px;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

/* New Project Btn */
.new-messages .rectangle-176 {
  background-color: var(--azure-radiance);
  border-radius: 100px;
  height: 40px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-messages .new-project {
  background-color: transparent;
  color: white;
  font-size: 18px;
  line-height: 40px;
  text-decoration: none;
}

/* Nevagation Menu Links */
#bottomNav{
  display: flex;
  flex-direction: column;
}

#navLinks{
  display: flex;
  flex-direction: row;
  height: 80px; 
}

.new-messages .navLink {
  display: block;
  text-decoration: none;
  background-color: transparent;
  color: var(--dolphin);
  font-size: 18px;
  height: 80px;
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 400;
  line-height: 100px;
  width: calc(100%/6);
  text-align: center
}

#bar{
  position: relative;
  height: 4px;
  width:100%
}

.new-messages .line-1 {
  background-color: transparent;
  height: 4px;
  position: absolute;
  width: inherit;
}
.new-messages .line-2 {
  background-color: transparent;
  height: 4px;
  position: absolute;
  margin-left: calc(100%/6) ;
  width: calc(100%/6);
}

/* messagesArea */
#messagesArea{
  width: 100% + 130px;
  height: 100%;
  display: flex;
  flex-direction: row;
  
}

/* Left Side Message Box */
#messagesBox{
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 4px solid #E6E9EF;
}

/* Left Top Bar */
#inboxToolBar{
  display: flex;
  flex-direction: row;
  height: 72px;
  justify-content: space-around;
}

/* Search box */
.new-messages .search-box {
  display: flex;
  flex-direction: row;
  align-self: start;
  border-radius: 100px;
  height: 32px;
  width: 150px;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 16px;
}


/* Sort box */
.new-messages .sort-box {
  background-color: transparent;
  height: 72px;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.new-messages .sort{
  color: rgba(50,51,56,1.0);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
  line-height: 72px;
}

.sort-menu{
  border: none;
  /* background-color: #0085FF; */
  color: rgba(50,51,56,1.0);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
  line-height: 72px;
}

/* Top Icons */
.new-messages .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 72px;
}

.new-messages .icon {
  background-color: transparent;
  height: 20px;
  width: 20px;
  margin: auto 5px auto 5px;
}

/* Messages List */

#messagesList{
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
}
#messagesList div:last-child{
  border-bottom: none;
}
.new-messages .messageEntry{
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  border-bottom: 4px solid #E6E9EF;
  padding: 20px;
}

.new-messages .leftMessageEntry{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}

/* small portfolio photo */

.new-messages .photo{
  position: relative;

}
.new-messages .smallPhoto{
  background-color: transparent;
  height: 40px;
  width: 40px;
}

.new-messages .smallInitial{
  /* background-color: transparent;
  font-size: 14px;
  height: 24px;
  text-align: center;
  white-space: nowrap;
  width: 26px; */

  position: absolute;
  top:0;
  left:0;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: center;
  line-height: 40px;
  color: white;
  font-weight: 600;
  z-index: 2;


}

.new-messages .unread {
  height: 6px;
  width: 6px;
  background-color: transparent;
  margin: 0 10px;
}

.new-messages .select {
  background-color: transparent;
  border-radius: 2px;
  height: 12px;
  width: 12px;
  border: 1px solid var(--dolphin);
}


.new-messages .starIcon {
  background-color: transparent;
  height: 16px;
  width: 16px;
}

/* message entry main area */
.new-messages .rightMessageEntry{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px auto 10px 20px;
}

.new-messages .messageHead{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.messageHead div{
  display: inline-block
}

.new-messages .smallName {
  background-color: transparent;
  color: var(--azure-radiance);
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  text-align: left;
  white-space: nowrap;
}

.new-messages .x2 {
  background-color: transparent;
  color: var(--azure-radiance);
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  white-space: nowrap;
  margin: 0 5px;
}

.new-messages .attachments {
  background-color: transparent;
  height: 16px;
  width: 16px;
  line-height: 40px;
}

.new-messages .smallDate {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  text-align: right;
  white-space: nowrap;
  margin-left: 50px;
}

.new-messages .messageTitle {
  background-color: transparent;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  text-align: left;
  white-space: nowrap;
}

.new-messages .messageContent {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: auto;
  line-height: 22px;
  text-align: left;
}

/* Right Side Selected Message */
#selectedMessage{
  width: 55%;
  height: 100%;
  padding: 30px 0 30px 10px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}


#messageContent-head{
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
}

#messageContent-head div{
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.new-messages .largePhoto{
  height: 60px;
  width: 60px;
  background-color: transparent;
}

.new-messages .largeName{
  height: 60px;
  background-color: transparent;
  color: var(--azure-radiance);
  font-size: 20px;
  line-height: 60px;
  margin-left: 10px;
}

.new-messages .clockIcon {
  height: 20px;
  width: 20px;
  background-color: transparent;
  margin: auto 5px auto 100px;
}


.new-messages .longTime {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  
}

#messageContent-title{
  margin: 46px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;  

}

#messageContent-title .largeTitle{
  background-color: transparent;
  flex-shrink: 0;
  font-size: 23px;
  font-weight: 700px;
  height: 64px;
  min-height: 64px;
  line-height: 64px;
  text-align: left;
  white-space: nowrap;
}


.new-messages .editIcon {
  height: 20px;
  width: 20px;
  background-color: transparent;
  margin: 0 4px;
}


.new-messages .text {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 16px;
  height: auto;
  line-height: 22px;
  text-align: left;
}


.new-messages .rectangle-174 {
  width: 140px;
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid var(--azure-radiance);
  margin: 10px auto auto 0;
}

.messageContent-attachments  {
  background-color: transparent;
  color: var(--azure-radiance);
  font-size: 14px;
  height: auto;
  line-height: 18px;
  text-align: center;
  white-space: nowrap;
  width: auto;
}


/* end */
.border-class-1 {
  border: 1px solid transparent;
}
.border-class-2 {
  border: 1px solid var(--dolphin);
}
.border-class-3 {
  border: 1px solid var(--ghost);
}
.border-class-4 {
  border: 1px solid var(--azure-radiance);
}
.font-class-1 {
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 400;
}
.font-class-2 {
  color: var(--mine-shaft);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.font-class-3 {
  color: white;
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}
.font-class-4 {
  color: var(--mine-shaft);
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 14px;
  line-height: 24px;
}

.border-class-1 {
  border: 1px solid transparent;
}
.border-class-2 {
  border: 1px solid var(--dolphin);
}
.border-class-3 {
  border: 1px solid var(--ghost);
}
.border-class-4 {
  border: 1px solid var(--azure-radiance);
}
.font-class-1 {
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 400;
}
.font-class-2 {
  color: var(--mine-shaft);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.font-class-3 {
  color: white;
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}
.font-class-4 {
  color: var(--mine-shaft);
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 14px;
  line-height: 24px;
}




.new-messages .image-64 {
  background-color: transparent;
  height: 16px;
  left: 787px;
  position: absolute;
  top: 342px;
  width: 16px;
}






/* left border on selected message area */
.new-messages .line-4 {
  background-color: transparent;
  height: 592px;
  left: 853px;
  position: absolute;
  top: 308px;
  width: 2px;
}

/*  message list border */
.new-messages .line-5 {
  background-color: transparent;
  height: 2px;
  /* left: 382px; */
  /* position: absolute; */
  /* top: 389px; */
  /* width: 472px; */
}


.new-messages .rectangle-175 {
  background-color: white;
  height: 53px;
  left: 761px;
  position: absolute;
  top: 29px;
  width: 103px;
}


/* selected message background on message list */
.new-messages .rectangle-180 {
  background-color: var(--pattens-blue);
  height: 157px;
  left: 319px;
  position: absolute;
  top: 389px;
  width: 535px;
}



:root {
  --azure-radiance: rgba(0,133,255,1.0);
  --azure-radiance-2: rgba(0,154,255,1.0);
  --dolphin: rgba(103,104,121,1.0);
  --ghost: rgba(197,199,208,1.0);
  --mine-shaft: rgba(50,51,56,1.0);
  --pattens-blue: rgba(223,240,255,1.0);
}