/* List area */
#list {
  width: 100%;
  margin-top: 6.4rem;
}

.dashboard-projects .listTable {
  width: 100%;
}
/* Head */
.listTable .listHead {
  background-color: var(--mystic);
}

.listTable .headItem {
  background-color: transparent;
  color: var(--mine-shaft);
  height: 5rem;
  line-height: 5rem;
  text-align: left;
}

/* List Entries*/
.listTable .listEntry {
  height: 6.4rem;
  line-height: 6.4rem;
}

.listTable .listItem {
  color: var(--mine-shaft);
  height: 6.4rem;
  line-height: 6.4rem;
  text-align: left;
}

.listTable .title {
  padding-left: 6.4rem;
}

.dashboard-projects .listItem-image {
  display: inline-block;
  background-color: transparent;
  height: 4rem;
  width: 4rem;
  vertical-align: middle;
  margin-right: 1rem;
}

.dashboard-projects .listItem-projectOwner {
  display: inline-block;
  background-color: transparent;
  color: var(--mine-shaft);
}

.font-class-1 {
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-style: normal;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
}
/* .font-class-2 {
    color: var(--mine-shaft);
    font-family: 'Roboto', Helvetica, Arial, serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.4rem;
  } */

:root {
  --azure-radiance: rgba(0, 154, 255, 1);
  --dolphin: rgba(103, 104, 121, 1);
  --mine-shaft: rgba(50, 51, 56, 1);
  --mist-gray: rgba(196, 196, 196, 1);
  --mystic: rgba(230, 233, 239, 1);
}
