
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');


body {
    font-family: 'Roboto', Helvetica, Arial, serif;//https://fonts.google.com/specimen/Montserrat?selection.family=Montserrat:300,400,500,600,700,800,900
    font-weight: 400;
    line-height: 1.3; //16px size with a 23px line height
    // color: $default-font-color;
    font-size: $default-font-size;
}

.font-color{
    &--success{
        color: $color-success;
    }

    &--warning{
        color: $color-warning;
    }

    &--danger{
        color: $color-danger;
    }
}

.image-background-color{
    &--orange{
        background-color: $color-image-background-orange;
    }

    &--green{
        background-color: $color-image-background-green;
    }
    &--blue{
        background-color: $color-image-background-blue;
    }
    &--pink{
        background-color: $color-image-background-pink;
    }
    &--purple{
        background-color: $color-image-background-purple;
    }
}