//font
$default-font-size: 1.8rem;

//color

$color-azure-radiance: rgba(0,154,255,1.0);
$color-dolphin: rgba(103,104,121,1.0);
$color-ghost: rgba(197,199,208,1.0);
$color-mine-shaft: rgba(50,51,56,1.0);
$color-mist-gray: rgba(196,196,196,1.0);

$color-success:#4ECCC6;
$color-warning: #FDAB3D;
$color-danger: #FF7575;

//Image Background Colors
$color-image-background-orange:#FDAB3D;
$color-image-background-green: #00C875;
$color-image-background-blue: #4ECCC6;
$color-image-background-pink: #F65F7C;
$color-image-background-purple:#B394DF;

//margin variables
$margin-top-med: 3rem;

//std project grid column

$std-grid-column:   [full-start] minmax(4rem, 1fr)
[center-start] repeat(8, [col-start] minmax(min-content, 16rem) [col-end])
[center-end]
minmax(4rem, 1fr) [full-end];

//border
$std-border:1px solid $color-ghost;