.grid {
  display: flex;
  flex-direction: row;
  padding: 0% 5% 5% 5%;
  flex-basis: 100%;
  justify-content: space-around;
}
.col {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: center;
  flex-basis: 100%;
  width: 27%;
  padding: 0 3% 0 3%;
}
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: .5rem 1rem .5rem 1rem;
}
.left {
  display: inline-block;
  width: 50%;
  font-weight: bold;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.4rem;
  /* or 171% */



  display: flex;
  align-items: center;
}
.right {
  width: 50%;
  text-align: right;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.4rem;
  /* or 171% */
  text-align: right !important;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
}
.header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 3rem;
  display: flex;
  align-items: center;
  color: #0085ff;
}

.costListItem {
  padding-left: 3rem;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 3rem;
}

.companyLink {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 2.2rem;

  display: flex;
  align-items: center;

  color: #0085ff;
}

.mt-2 {
  padding-top: 2rem;
}

.m-table {
  background: #f5f6f8;
  border-radius: 1.6rem;
  width: 100%;
  height: 70vh;
  /* margin-top: 5%; */
  /* padding: 5% 10% 5% 10%; */
  padding: 0% 2rem 0% 2rem;
  margin-bottom: 2rem;
  max-width: 30rem;
}

.t-header {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  width: 30%;
  /* or 214% */
  display: inline-block;
  color: #0085ff;
}
/* .row2 {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  padding-bottom: 10%;
  justify-content: space-between;
  
} */

.row-reverse{
  flex-direction: row-reverse;
}
.m-0 {
  margin-right: 0rem !important;
}

.est-tot {
  min-width: 100%;
  float: right;
  text-align: right;

  padding-right: 2rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.4rem;
  /* identical to box height, or 171% */
  color: #676879;
}
.tot {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 2.4rem;
  /* identical to box height, or 100% */
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding-right: 2rem;
  color: #0085ff;
}

.row3 {
  display: flex;
  flex-direction: row;
  padding: 4rem 3% 2% 9%;
}

.custom-br{
  color: #f5f6f8;
  content: "";
}
