.grid {
  display: flex;
  flex-direction: row;
  padding: 0% 5% 5% 5%;
  flex-basis: 100%;
  justify-content: space-around;
}
.col {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: center;
  flex-basis: 100%;
  width: 27%;
  padding: 0px 3% 0px 3%;
}
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 2% 5% 2% 5%;
}
.left {
  display: inline-block;
  width: 50%;
  font-weight: bold;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  display: flex;
  align-items: center;
}
.right {
  width: 50%;
  text-align: right;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  text-align: right !important;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
}
.header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #0085ff;
}

.costListItem {
  padding-left: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}

.companyLink {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  display: flex;
  align-items: center;

  color: #0085ff;
}

.mt-2 {
  padding-top: 2%;
}

.m-table {
  background: #f5f6f8;
  border-radius: 16px;
  width: 100%;
  height: 70vh;
  margin-top: 5%;
  padding: 5% 10% 5% 10%;
  max-width: 300px;
}

.t-header {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  width: 30%;
  /* or 214% */
  display: inline-block;
  color: #0085ff;
}
.row2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 10%;
  justify-content: space-between;
}
.m-0 {
  margin-right: 0px !important;
}

.est-tot {
  min-width: 100%;
  float: right;
  text-align: right;
  padding-right: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  color: #676879;
}
.tot {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding-right: 20px;
  color: #0085ff;
}

.row3 {
  display: flex;
  flex-direction: row;
  padding: 5% 3% 2% 9%;
}
