.bid-page{
    display: grid;
    grid-template-columns: $std-grid-column;
  
    margin: $margin-top-page 0;


    &__thead{
        grid-column: full-start/full-end;
        background-color: $color-mystic;
        display: grid;
        grid-template-columns: repeat(6,minmax(7rem,1fr));
        padding-left: 6.4rem;
    }

    &__trow{
        margin-top: 2rem;
        grid-column: full-start/full-end;
        display: grid;
        grid-template-columns: repeat(6,minmax(7rem,1fr));
        padding-left: 6.4rem;
        
    }

}