.bid-page{
    display: grid;
    grid-template-columns: $std-grid-column;
  
    margin: $margin-top-page 0;


    &__thead{
        grid-column: center-start/center-end;
        background-color: $color-mystic;
        display: grid;
        grid-template-columns: repeat(6,minmax(7rem,1fr));

    }

    &__trow{
        margin-top: 2rem;
        grid-column:  center-start/center-end;
        display: grid;
        grid-template-columns: repeat(6,minmax(7rem,1fr));
        
    }

}