.submit-btn {
    background-color: $color-azure-radiance;
    height: 4rem;
    width: 16rem;
    color: white;
    border-radius: 10rem;
    font-size: 1.8rem;
    line-height: 4rem;
    text-align: center;
    

}

.add-btn {
    background-color: white;
    height: 4rem;
    width: 16rem;
    color: $color-azure-radiance;
    border-radius: 10rem;
    border: solid 2px $color-azure-radiance;
    font-size: 1.8rem;
    line-height: 4rem;
    text-align: center;
    // padding-bottom: rem;
    

}

.submit-btn :hover,
.submit-btn :focus {
    background: $color-azure-radiance;
}

.button-background-color{
  &--success{
      background-color: $color-success;
  }

  &--success :hover,
  &--success :focus{
    background-color: $color-success;
  } 

  &--warning{
      background-color: $color-warning;
  }

  &--neutral{
      background-color: $default-font-color;
  }
  &--danger{
      background-color: $color-danger;
  }
}