.img-bubble{
    
        &__img {
      
         
          height: 5rem;
          width: 5rem;
          border-radius: 100%;
        }
    
        &__placeholder {
         
          height: 5rem;
          width: 5rem;
          border-radius: 100%;
    
          color: white;
          text-align: center;
     
          font-size: 3rem;
          padding: .7rem 0;
        }

}
