
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');


.dashboard-projects {
  margin: 0;
  padding: 0;
  height: 900px;
  position: relative;
  width: 1440px;
  background-color: white;
  /* background-image: url(https://anima-uploads.s3.amazonaws.com/projects/5fa1a82d0aa76a11ee1c02fa/releases/5fa1b7f80aa76a11ee1c03eb/img/image-28@1x.jpg); */
  /* background-size: 100% 100%; */
}

/* Dashboard sign */

.dashboard-projects .dashboard {
  background-color: transparent;
  height: auto;
  left: 381px;
  position: absolute;
  text-align: left;
  top: 210px;
  white-space: nowrap;
  width: auto;
}

/* New Project Btn */
.dashboard-projects .rectangle-176 {
  background-color: var(--azure-radiance);
  border-radius: 100px;
  height: 32px;
  left: 1236px;
  position: absolute;
  top: 205px;
  width: 121px;
}

.dashboard-projects .new-project {
  background-color: transparent;
  color: white;
  font-size: 14px;
  height: 33px;
  left: 1259px;
  position: absolute;
  text-align: left;
  top: 205px;
  width: 78px;
}

/* Navigation Bar */
.dashboard-projects .projects {
  background-color: transparent;
  color: var(--dolphin);
  font-size: 16px;
  height: 24px;
  left: 414px;
  position: absolute;
  text-align: left;
  top: 274px;
  white-space: nowrap;
  width: auto;
}

.dashboard-projects .messages {
  background-color: transparent;
  color: var(--dolphin);
  font-size: 16px;
  height: 24px;
  left: 528px;
  position: absolute;
  text-align: left;
  top: 274px;
  white-space: nowrap;
  width: auto;
}

.dashboard-projects .proposals {
  background-color: transparent;
  color: var(--dolphin);
  font-size: 16px;
  height: 24px;
  left: 651px;
  position: absolute;
  text-align: left;
  top: 274px;
  white-space: nowrap;
  width: auto;
}

.dashboard-projects .documents {
  background-color: transparent;
  color: var(--dolphin);
  font-size: 16px;
  height: 24px;
  left: 768px;
  position: absolute;
  text-align: left;
  top: 274px;
  white-space: nowrap;
  width: auto;
}

.dashboard-projects .reports {
  background-color: transparent;
  color: var(--dolphin);
  font-size: 16px;
  height: 24px;
  left: 903px;
  position: absolute;
  text-align: left;
  top: 274px;
  white-space: nowrap;
  width: auto;
}

.dashboard-projects .directory {
  background-color: transparent;
  color: var(--dolphin);
  font-size: 16px;
  height: 24px;
  left: 1021px;
  position: absolute;
  text-align: left;
  top: 274px;
  white-space: nowrap;
  width: auto;
}

.dashboard-projects .calendar {
  background-color: transparent;
  color: var(--dolphin);
  font-size: 16px;
  height: 24px;
  left: 1143px;
  position: absolute;
  text-align: left;
  top: 274px;
  white-space: nowrap;
  width: auto;
}

.dashboard-projects .admin {
  background-color: transparent;
  color: var(--dolphin);
  font-size: 16px;
  height: 24px;
  left: 1274px;
  position: absolute;
  text-align: left;
  top: 274px;
  white-space: nowrap;
  width: auto;
}

.dashboard-projects .line-1 {
  background-color: transparent;
  height: 2px;
  left: 382px;
  position: absolute;
  top: 307px;
  width: 976px;
}
.dashboard-projects .line-2 {
  background-color: transparent;
  height: 2px;
  left: 382px;
  position: absolute;
  top: 307px;
  width: 122px;
}

/* List area */

.dashboard-projects .rectangle-74 {
  background-color: var(--mystic);
  height: 32px;
  left: 381px;
  position: absolute;
  top: 360px;
  width: 977px;
}

.dashboard-projects .title {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 24px;
  left: 420px;
  position: absolute;
  text-align: left;
  top: 364px;
  white-space: nowrap;
  width: auto;
}

.dashboard-projects .project-owner {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 24px;
  left: 634px;
  position: absolute;
  text-align: left;
  top: 364px;
  white-space: nowrap;
  width: auto;
}

.dashboard-projects .status {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 24px;
  left: 813px;
  position: absolute;
  text-align: left;
  top: 364px;
  white-space: nowrap;
  width: auto;
}

.dashboard-projects .due {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 24px;
  left: 973px;
  position: absolute;
  text-align: left;
  top: 364px;
  white-space: nowrap;
  width: auto;
}

.dashboard-projects .items {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 24px;
  left: 1143px;
  position: absolute;
  text-align: left;
  top: 364px;
  white-space: nowrap;
  width: auto;
}

.dashboard-projects .invited {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 24px;
  left: 1274px;
  position: absolute;
  text-align: left;
  top: 364px;
  white-space: nowrap;
  width: auto;
}

.dashboard-projects .capstone-project {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 16px;
  left: 424px;
  position: absolute;
  text-align: left;
  top: 756px;
  white-space: nowrap;
  width: 168px;
}

.dashboard-projects .closed-to-bid-C61RwL {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 24px;
  left: 813px;
  position: absolute;
  text-align: left;
  top: 492px;
  white-space: nowrap;
  width: 108px;
}
.dashboard-projects .closed-to-bid-VMr6Om {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 24px;
  left: 813px;
  position: absolute;
  text-align: left;
  top: 686px;
  white-space: nowrap;
  width: 108px;
}

.dashboard-projects .david-felb-2P4qUJ {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 24px;
  left: 686px;
  position: absolute;
  text-align: left;
  top: 686px;
  white-space: nowrap;
  width: 108px;
}
.dashboard-projects .david-felb-C61RwL {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 24px;
  left: 686px;
  position: absolute;
  text-align: left;
  top: 426px;
  white-space: nowrap;
  width: 108px;
}
.dashboard-projects .david-felb-QxM5SU {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 24px;
  left: 686px;
  position: absolute;
  text-align: left;
  top: 620px;
  white-space: nowrap;
  width: 108px;
}
.dashboard-projects .david-felb-VMr6Om {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 24px;
  left: 686px;
  position: absolute;
  text-align: left;
  top: 492px;
  white-space: nowrap;
  width: 108px;
}
.dashboard-projects .david-felb-mzXdH9 {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 24px;
  left: 686px;
  position: absolute;
  text-align: left;
  top: 554px;
  white-space: nowrap;
  width: 108px;
}
.dashboard-projects .david-felb-qr8e7q {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 24px;
  left: 686px;
  position: absolute;
  text-align: left;
  top: 752px;
  white-space: nowrap;
  width: 108px;
}

.dashboard-projects .fairview-s-ing-center {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 16px;
  left: 424px;
  position: absolute;
  text-align: left;
  top: 558px;
  white-space: nowrap;
  width: 168px;
}
.dashboard-projects .greystone-estates {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 16px;
  left: 424px;
  position: absolute;
  text-align: left;
  top: 496px;
  white-space: nowrap;
  width: 168px;
}
.dashboard-projects .image-17 {
  background-color: transparent;
  height: 40px;
  left: 634px;
  position: absolute;
  top: 418px;
  width: 40px;
}
.dashboard-projects .image-55 {
  background-color: transparent;
  height: 86px;
  left: 692px;
  position: absolute;
  top: 3px;
  width: 745px;
}
.dashboard-projects .image-56 {
  background-color: transparent;
  height: 40px;
  left: 634px;
  position: absolute;
  top: 484px;
  width: 40px;
}
.dashboard-projects .image-57 {
  background-color: transparent;
  height: 40px;
  left: 634px;
  position: absolute;
  top: 546px;
  width: 40px;
}
.dashboard-projects .image-58 {
  background-color: transparent;
  height: 40px;
  left: 634px;
  position: absolute;
  top: 612px;
  width: 40px;
}
.dashboard-projects .image-59 {
  background-color: transparent;
  height: 40px;
  left: 634px;
  position: absolute;
  top: 678px;
  width: 40px;
}
.dashboard-projects .image-60 {
  background-color: transparent;
  height: 40px;
  left: 634px;
  position: absolute;
  top: 744px;
  width: 40px;
}


.dashboard-projects .mattamy-development {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 16px;
  left: 424px;
  position: absolute;
  text-align: left;
  top: 430px;
  white-space: nowrap;
  width: 168px;
}


.dashboard-projects .north-coas-evelopment {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 16px;
  left: 424px;
  position: absolute;
  text-align: left;
  top: 624px;
  white-space: nowrap;
  width: 168px;
}
.dashboard-projects .nov-12-2020-2P4qUJ {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 24px;
  left: 973px;
  position: absolute;
  text-align: left;
  top: 686px;
  white-space: nowrap;
  width: auto;
}
.dashboard-projects .nov-12-2020-C61RwL {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 24px;
  left: 973px;
  position: absolute;
  text-align: left;
  top: 426px;
  white-space: nowrap;
  width: auto;
}
.dashboard-projects .nov-12-2020-QxM5SU {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 24px;
  left: 973px;
  position: absolute;
  text-align: left;
  top: 620px;
  white-space: nowrap;
  width: auto;
}
.dashboard-projects .nov-12-2020-VMr6Om {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 24px;
  left: 973px;
  position: absolute;
  text-align: left;
  top: 492px;
  white-space: nowrap;
  width: auto;
}
.dashboard-projects .nov-12-2020-mzXdH9 {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 24px;
  left: 973px;
  position: absolute;
  text-align: left;
  top: 554px;
  white-space: nowrap;
  width: auto;
}
.dashboard-projects .nov-12-2020-qr8e7q {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 24px;
  left: 973px;
  position: absolute;
  text-align: left;
  top: 752px;
  white-space: nowrap;
  width: auto;
}
.dashboard-projects .open-to-bid-C61RwL {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 24px;
  left: 813px;
  position: absolute;
  text-align: left;
  top: 426px;
  white-space: nowrap;
  width: 108px;
}
.dashboard-projects .open-to-bid-VMr6Om {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 24px;
  left: 813px;
  position: absolute;
  text-align: left;
  top: 620px;
  white-space: nowrap;
  width: 108px;
}
.dashboard-projects .open-to-bid-mzXdH9 {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 24px;
  left: 813px;
  position: absolute;
  text-align: left;
  top: 752px;
  white-space: nowrap;
  width: 108px;
}


.dashboard-projects .rectangle-175 {
  background-color: white;
  height: 53px;
  left: 761px;
  position: absolute;
  top: 29px;
  width: 103px;
}

.dashboard-projects .rectangle-73 {
  background-color: white;
  height: 32px;
  left: 344px;
  position: absolute;
  top: 127px;
  width: 134px;
}

.dashboard-projects .rectangle-75 {
  background-color: white;
  height: 726px;
  left: 345px;
  position: absolute;
  top: 174px;
  width: 1095px;
}

.dashboard-projects .rewards {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 24px;
  left: 381px;
  position: absolute;
  text-align: left;
  top: 124px;
  white-space: nowrap;
  width: auto;
}
.dashboard-projects .royal-home-orporation {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 16px;
  left: 424px;
  position: absolute;
  text-align: left;
  top: 690px;
  white-space: nowrap;
  width: 168px;
}
.dashboard-projects .scroll-bar {
  background-color: var(--mist-gray);
  border-radius: 100px;
  height: 24px;
  left: 1354px;
  position: absolute;
  top: 413px;
  width: 4px;
}

.dashboard-projects .upcoming {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 24px;
  left: 813px;
  position: absolute;
  text-align: left;
  top: 554px;
  white-space: nowrap;
  width: 108px;
}
.dashboard-projects .vector-4 {
  background-color: transparent;
  height: 6px;
  left: 448px;
  position: absolute;
  top: 136px;
  width: 10px;
}
.dashboard-projects .x125 {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 24px;
  left: 1143px;
  position: absolute;
  text-align: left;
  top: 492px;
  white-space: nowrap;
  width: auto;
}
.dashboard-projects .x14 {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 24px;
  left: 1143px;
  position: absolute;
  text-align: left;
  top: 426px;
  white-space: nowrap;
  width: auto;
}
.dashboard-projects .x18 {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 24px;
  left: 1274px;
  position: absolute;
  text-align: left;
  top: 620px;
  white-space: nowrap;
  width: auto;
}
.dashboard-projects .x2 {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 24px;
  left: 1274px;
  position: absolute;
  text-align: left;
  top: 426px;
  white-space: nowrap;
  width: auto;
}
.dashboard-projects .x21 {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 24px;
  left: 1143px;
  position: absolute;
  text-align: left;
  top: 686px;
  white-space: nowrap;
  width: auto;
}
.dashboard-projects .x44 {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 24px;
  left: 1274px;
  position: absolute;
  text-align: left;
  top: 686px;
  white-space: nowrap;
  width: auto;
}
.dashboard-projects .x49 {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 24px;
  left: 1143px;
  position: absolute;
  text-align: left;
  top: 752px;
  white-space: nowrap;
  width: auto;
}
.dashboard-projects .x7 {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 24px;
  left: 1274px;
  position: absolute;
  text-align: left;
  top: 554px;
  white-space: nowrap;
  width: auto;
}
.dashboard-projects .x78 {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 24px;
  left: 1274px;
  position: absolute;
  text-align: left;
  top: 752px;
  white-space: nowrap;
  width: auto;
}
.dashboard-projects .x84 {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 24px;
  left: 1143px;
  position: absolute;
  text-align: left;
  top: 620px;
  white-space: nowrap;
  width: auto;
}
.dashboard-projects .x9 {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 24px;
  left: 1143px;
  position: absolute;
  text-align: left;
  top: 554px;
  white-space: nowrap;
  width: auto;
}
.dashboard-projects .x90 {
  background-color: transparent;
  color: var(--mine-shaft);
  font-size: 14px;
  height: 24px;
  left: 1274px;
  position: absolute;
  text-align: left;
  top: 492px;
  white-space: nowrap;
  width: auto;
}

.font-class-1 {
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.font-class-2 {
  color: var(--mine-shaft);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
:root {
  --azure-radiance: rgba(0,154,255,1.0);
  --dolphin: rgba(103,104,121,1.0);
  --mine-shaft: rgba(50,51,56,1.0);
  --mist-gray: rgba(196,196,196,1.0);
  --mystic: rgba(230,233,239,1.0);
}